.MainPageAllContent {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
}

.PageTitle {
    font-family: "Open Sans";
}

.SubpageTitle {
    font-family: "Open Sans";
}

.TabsTitle {
    font-family: "Open Sans";
}

.SubHeading {
    font-family: "Open Sans";
}

.FormHeader {
    font-family: "Open Sans";
}

.Basictext {
    font-family: "Open Sans";
}

.Buttons {
    font-family: "Open Sans";
}

.Questions {
    font-family: "Open Sans";
}

.QuestionTitle {
    
}


.AllContent {
    position: relative;
    width: 100%;
    max-width: 1200px;
    background-color: rgb(231, 231, 232);
    min-width: 500px;
}

.UpBanner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 200px;
}

.UwaterlooLogo {
    display: inline-block;
    width: 60%;
}

.UwaterlooLogo img{
    width: 100%;
}

.MYMLogo {
    display: inline-block;
    width: 18.185763888888888888%
}

.MYMLogo img{
    width: 100%;
}


.ContentDownBanner {
    position: relative;
    width: 100%;
}

.leftSelectMenu {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    margin-left: 1%;
    margin-right: 1%;
}

.MainContent {
    display: inline-block;
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
}

.FormtoView1 {
    width: 100%;
    display: inline-block;
    position: relative;
    top: 0;
    vertical-align: top;
    margin-top:4px;
}

.FormtoView1 button {
    width: 80%;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 0px;
}

.slidecontainer {
    display:inline-block;
    margin-left:2%;
    margin-right:2%;
    width: 54%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .4s;
    transition: opacity .4s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.QuestionAnswerArea{
    width: 100%;
    max-width: 1200px;
}

.QuestionAnswerArea p {
  margin-left: 2%;
  margin-right: 2%;
  display:inline-block;
  width:16%;
  text-align:center;
  vertical-align: top;
/*   font-size: 3vw; */
}

.label{
	margin-right:5px;
}
.wrap {
    font:12px Arial, san-serif;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}

.ActivitySuggestionPage {
    width: 100%;
    max-width: 1200px;
    margin: 0;
}

.ActivitySuggestionPageBanner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ActivitySuggestionPageTitle p{
    font-size: 1.5em;
}

.ActivitySuggestionPageBackButton {
    
}