<!-- Primary template that will get shown when widget loads -->	

<!-- PAGE TEMPLATE EXAMPLE -->
<script type="text/ng-template" id="profile.html">
    <widget-row ng-controller="profileCtrl">
        
<!--         <form name="outerForm" class="tab-form-demo"> -->
        
        <div class = "MainPageAllContent">
        
            <uib-tabset active="activeForm">
                
                <uib-tab index="0" heading="Profile">
                    <div class="ProfileAllContent">
                        <div class="ProfileSearch">
                            <p class = "FormHeader ProfileSearchTitle">Search: </p>
                            <input class="form-control ng-pristine ng-valid" ng-model="searchKeyword" type="text" id="Studentnamesearchbox" placeholder="{{selectedStudent.value}}" />
                            <table class="table">
                                <tr>
                                    <th>Student ID:
                                    </th>
                                    <th>Name
                                    </th>
                                </tr>
                                <tr ng-repeat="student in studentInfo.value  | filter: searchKeyword | limitTo : 4 ">
                                    <td>
                                        {{student.student_id}}
                                    </td>
                                    <td>
                                        {{student.name}}
                                    </td>
                                    <td>
                                        <input type="button" value="Select" ng-class="{'btn-warning': value3, 'btn-success': value2, 'btn': value1}" ng-click="selectedItemChanged(student.student_id,student.name)" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <p>Term:
                            <select ng-options="term.current_term for term in terms.value" ng-model="selectedTerm">
                            </select>
                        </p>
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Student Information" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <p>Student Name: {{selectedTerm.name}}</p>
                                <p>Student ID: {{selectedTerm.student_id}}</p>
                                <p>Email: {{selectedTerm.email}}</p>
                                <p>Gender: {{selectedTerm.gender}}</p>
                                <p>Department: {{selectedTerm.department}}</p>
                                <p>Academic Term: {{selectedTerm.academic_term}}</p>
                            </div>
                        </uib-accordion>
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Progress" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            </div>
                        </uib-accordion>
                    </div>
                    
                </uib-tab>
                
                <uib-tab index="1" heading="Enrolment">
                    
                    <h2>Student Registration</h2>
                    <br />
                    <form action="">
                        <div class="form-group">

                            <label for="fullName">Full Name:</label>
                            <input type="text" ng-model="name" class="form-control" id="fullName"></input>

                            <label for="mail">UW Email:</label>
                            <input type="email" ng-model="email" class="form-control" id="mail"></input>

                            <label for="sid">UW ID:</label>
                            <input type="number" ng-model="sid" class="form-control" id="sid"></input>

                            <div class="dropdown">
                                <label>Gender: </label>
                                <select name="gender" ng-model="gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="N/A">Prefer not to specify</option>
                                </select>
                            </div>

                            <label for="program">Program</label>
                            <input type="text" ng-model="program" class="form-control" id="program"></input>

                            <label for="term">Registration Term</label>
                            <input type="text" ng-model="term" class="form-control" id="term"></input>

                            <label for="aterm">Academic Term</label>
                            <input type="text" ng-model="aterm" class="form-control" id="aterm"></input>

                            <label for="date">Registration Date</label>
                            <input type="date" ng-model="date" class="form-control" id="date"></input>
                        </div>
                        <div class="dropdown">
                            <label>Support Level: </label>
                            <select name="support" ng-model="support">
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            </select>
                        </div>
                        <br />
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="buddy">Workout Buddy</input>
                            </label>
                        </div>
                        <div class="form-group" ng-show="buddy">
                            <label for="wBuddy">Workout Buddy Name</label>
                            <input type="text" ng-model="wobname" class="form-control" id="wBuddy"></input>
                        </div>

                        <div class="form-group">
                            <label for="wBuddy">Qualtrics Survey ID</label>
                            <input type="text" ng-model="surveyid" class="form-control" id="wBuddy"></input>
                        </div>
                        <br />
                        <input type="button" value = "Submit" ng-click="testSubmit()" ng-show = "term && sid && name && email && gender && program && aterm && date && support && surveyid" class="btn btn-default"/>      

                    </form>
                    
                </uib-tab>
                
                <uib-tab index="2" heading="Update Activities">
                    
                    <div class="ActivitySuggestionPage">
                        
                        <div class="ActivitySuggestionPageContent">
                            <p>Please upload the activity spreadsheet below.</p>
                            <input type="file" id="file" name="file" ng-files="getTheFiles($files)" />
                            <input type="button" ng-click="uploadFiles()" value="Upload" />
                        </div>
                        <p>{{data}}</p>
                    </div>
                    
                </uib-tab>
                
                <uib-tab index="3" heading="Activities Suggestion">
                   
                    <form action="">

                        <h4 class="likert-header">I prefer relaxing "meditative" exercises that do not involve a lot of concentration.</h4>

                        <div class="QuestionAnswerArea">
                            <p>Not true for me.</p>
                            <div class="slidecontainer">
                                <input type="range" min="0" max="10" value="5" class="slider" id="cog1" ng-model='cog1'></input>
                            </div>

                            <p>Very true for me.</p>
                        </div>
                        <p>{{cog1}}</p>
                        <h4 class="likert-header">I prefer activities that involve strategy.</h4>
                        <div class="QuestionAnswerArea">
                            <p>Not true for me.</p>
                            <div class="slidecontainer">
                                <input type="range" min="0" max="10" value="5" class="slider" id="cog2" ng-model='cog2'></input>
                            </div>

                            <p>Very true for me.</p>
                        </div>
                        <p>{{cog2}}</p>
                        <h4 class="likert-header">I prefer exercising on my own.</h4>
                        <div class="QuestionAnswerArea">
                            <p>Not true for me.</p>
                            <div class="slidecontainer">
                                <input type="range" min="0" max="10" value="5" class="slider" id="soc1" ng-model='soc1'></input>
                            </div>

                            <p>Very true for me.</p>
                        </div>
                        <h4 class="likert-header">I prefer exercising in an open environment(eg. Public Gym)</h4>
                        <div class="QuestionAnswerArea">
                            <p>Not true for me.</p>
                            <div class="slidecontainer">
                                <input type="range" min="0" max="10" value="5" class="slider" id="soc2" ng-model='soc2'></input>
                            </div>
                            <p>Very true for me.</p>
                        </div>
                        <h4 class="likert-header">I prefer activities that stretch my physical limitiations.</h4>
                        <div class="QuestionAnswerArea">
                            <p>Not true for me.</p>
                            <div class="slidecontainer">
                                <input type="range" min="0" max="10" value="5" class="slider" id="int1" ng-model='int1'></input>
                            </div>
                            <p>Very true for me.</p>
                        </div>
                        <h4 class="likert-header">I prefer activities that are more relaxing and less intense.</h4>
                        <div class="QuestionAnswerArea">
                            <p>Not true for me.</p>
                            <div class="slidecontainer">
                                <input type="range" min="0" max="10" value="5" class="slider" id="int2" ng-model='int2'></input>
                            </div>
                            <p>Very true for me.</p>
                        </div>

                        <input type="button" value="Submit" ng-click="getPred()" class="btn btn-default" />
                        <p>{{centerValues.value[0]}}</p>

                    </form>
                    
                </uib-tab>
                
                <uib-tab index="4" heading="General Report">
                    
                    
                </uib-tab>
                
            </uib-tabset>
<!--         </form> -->
        
        
        </div>
        
        
    </widget-row>
</script>
<!-- PAGE TEMPLATE EXAMPLE -->

<!-- PAGE TEMPLATE EXAMPLE -->
<script type="text/ng-template" id="activitySuggestion.html">
    <widget-row>
        <widget-cell>
            
        </widget-cell>
    </widget-row>
</script>
<!-- PAGE TEMPLATE EXAMPLE -->
<!-- PAGE TEMPLATE EXAMPLE -->
<script type="text/ng-template" id="enroll.html">
    <widget-row ng-controller="profileCtrl">
        

    </widget-row>
</script>
<!-- PAGE TEMPLATE EXAMPLE -->
<!-- PAGE TEMPLATE EXAMPLE -->
<script type="text/ng-template" id="getSuggestion.html">
    <widget-row ng-controller="suggestCtrl">
        

    </widget-row>
</script>
<!-- PAGE TEMPLATE EXAMPLE -->