<!-- Primary template that will get shown when widget loads -->

<!-- PAGE TEMPLATE EXAMPLE -->
<script type="text/ng-template" id="profile.html">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <div>

    </div>


    <div class="MainPageAllContent">

        <div class="logobanner">
            <div class="MYMLogo">
                <img ng-src="{{MTMLogo}}" />
            </div>
        </div>

        <uib-tabset active="activeForm" class="MainPageTabs">

            <uib-tab index="0" heading="Profile">
                <widget-row ng-controller="profileCtrl">
                    <div class="ProfileAllContent">
                        <div class="ProfileSearch">
                            <div class="SearchInputPart">
                                <p class="FormHeader ProfileSearchTitle">Search: </p>
                                <input class="form-control ng-pristine ng-valid" ng-model="searchKeyword" type="text" id="Studentnamesearchbox" placeholder="{{selectedStudent.value}}" />
                            </div>
                            <table class="table ProfileTable">
                                <tr>
                                    <th class = "FormHeader">Student ID:
                                    </th>
                                    <th class = "FormHeader">Name
                                    </th>
                                    <th class = "FormHeader">
                                    </th>
                                </tr>
                                <tr class="Basictext" ng-repeat="student in studentInfo.value  | filter: searchKeyword | limitTo : 4 ">
                                    <td>
                                        {{student.student_id}}
                                    </td>
                                    <td>
                                        {{student.pname_f}}  {{student.pname_l}}
                                    </td>
                                    <td class="ProfileTableButton">
                                        <input type="button" value="Select" class="ProfileSelectButton mymbutton" ng-click="selectedItemChanged(student.student_id,student.name)" />
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="ProfileTermAllContent">
                            <div class = "ProfileTerm_Title">
                                <p class = "FormHeader">Term:     
                                    <select class="ProfileTermSelect" ng-options="term.current_term for term in terms.value" ng-change = "getEmails()"ng-model="selectedTerm">
                                    </select>
                                </p>	
                            </div>
                            <div class = "ProfileTermContent">
                                <p class = "NoticeFont">*Please select the desired term</p>
                            </div>
                        </div>

                        <uib-accordion class="StudentInfoSection" close-others="false">
                            <div uib-accordion-group class="StudentProfileSection" heading="Student Information" is-open="true" is-disabled="false">
                                <p><b>Student Name: </b>{{selectedTerm.pname_f}} {{selectedTerm.pname_l}}</p>
                                <p><b>Student ID: </b>{{selectedTerm.student_id}}</p>
                                <p><b>Email: </b>{{selectedTerm.p_email}}</p>
                                <p><b>Gender: </b>{{selectedTerm.gender}}</p>
                                <p><b>Program: </b>{{selectedTerm.program}}</p>
                                <p><b>Academic Term: </b>{{selectedTerm.academic_term}}</p>
                                <p><b>Workout Buddy: </b>{{selectedTerm.workout_buddy}}</p>
                                <p><b>Workout Buddy Name: </b>{{selectedTerm.buddy_name}}</p>
                                <p><b>Feedback Frequency: </b>{{selectedTerm.rfrequent}}</p>
                                <input class="StudentInfoUpgradeButton ProfileSelectButton mymbutton" type="button" ng-click="showDetails(selectedTerm.current_term,selectedTerm.student_id)" value="Update" ng-disabled = "show" />
                            </div>
                        </uib-accordion>
                        <div ng-show="selectedTerm != null">
                            <uib-accordion class="StudentInfoSection" close-others="false">
                                <div uib-accordion-group class="StudentProfileSection" heading="Progress" is-open="true" is-disabled="false">
                                     <div class = "PersonalAvgGoal PersonalRepChart"  ng-show="selectedTerm != null">
                                        <p class="chartTitle">Goals</p>
                                        <nvd3 options="pieChartOptions" data="pieChartDataGoal.value"></nvd3>
                                    </div>
                                    <div class = "PersonalAvgBarriers PersonalRepChart"  ng-show="selectedTerm != null">
                                        <p class="chartTitle">Barriers</p>
                                        <nvd3 options="pieChartOptions" data="pieChartDataBarrier.value"></nvd3>
                                    </div>
                                    <div class = "PersonalAvgMH PersonalRepChart"  ng-show="selectedTerm != null">
                                        <p class="chartTitle">Mental Health Comparison</p>
                                        <nvd3 options="ChartOptions" data="MHBarData.value"></nvd3>
                                    </div>
                                    <div class = "PersonalAvgMotivation PersonalRepChart"  ng-show="selectedTerm != null">
                                        <p class="chartTitle">Motivation Comparison</p>
                                        <nvd3 options="ChartOptions" data="MotivateBarData.value"></nvd3>
                                    </div>
                                   
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                </widget-row>
            </uib-tab>

            <uib-tab index="1" heading="Qualtrics Survey">
                <widget-row>
                    <div class="QualtricsButtonContainer">
                        <input type="button" value="Add Qualtrics Survey" ng-click = "Qualtrics_Add()" class="QualtricsOptionButton mymbutton" />
                        <input type="button" value="Send Qualtrics Survey" ng-click = "Qualtrics_Send()" class="QualtricsOptionButton mymbutton" />
                        <input type="button" value="Export Qualtrics Survey Result" ng-click = "Qualtrics_Export()" class="QualtricsOptionButton mymbutton" />
                    </div>
                </widget-row>
            </uib-tab>

            <uib-tab index="2" heading="Enrolment">
                <widget-row ng-controller="qCtrl">
                    <div class="EnrolmentTitle">
                        <p class="PageTitle">Student Registration</p>
                    </div>

                    <form name="enrollment" ng-submit="checkStudent()">

                        <div class="form-group EnrolmentQ">

                            <div class = "RegistrationQuestions">
                                <label for="fName">First Name:</label>
                                <input type="text" ng-model="mym.contact_firstName" class="form-control EnrolmentTextInput" id="fName" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="lName">Last Name:</label>
                                <input type="text" ng-model="mym.contact_lastName" class="form-control EnrolmentTextInput" id="lName" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="sid">UW ID:</label>
                                <input required type="number" ng-model="sid" class="form-control EnrolmentTextInput" id="sid" ng-minlength="{{minlength}}"></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="term">Current Term</label>
                                <select class="EnrolmentQSelect" ng-options="term as term.term for term in QueryResult.value" ng-model="termData" required>
                                    <option value=""></option>
                                </select>
                                <!--                             <p>{{termData.mailing_id}}</p> -->
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="program">Program</label>
                                <input type="text" ng-model="program" class="form-control EnrolmentTextInput" id="program" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="mail">UW Email:</label>
                                <input type="email" ng-model="mym.contact_email" class="form-control EnrolmentTextInput" id="mail" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label>Gender: </label>
                                <select class="EnrolmentQSelect" name="gender" ng-model="gender" required>
                                    <option value=""></option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="N/A">Prefer not to specify</option>
                                </select>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="rName">Referral's Name:</label>
                                <input type="text" ng-model="rName" class="form-control EnrolmentTextInput" id="rName" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="rType">Referral's Type:</label>
                                <p class="NoticeFont">*Please indicate if you are a student, staff, faculty, self referring, etc.</p>
                                <input type="text" ng-model="rType" class="form-control EnrolmentTextInput" id="rType" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="rEmail">Referral's Email:</label>
                                <input type="email" ng-model="rEmail" class="form-control EnrolmentTextInput" id="rEmail" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="rdepartment">Referral's Department:</label>
                                <input type="text" ng-model="rDepartment" class="form-control EnrolmentTextInput" id="rDepartment" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label>Would the referrer need progress update?</label>
                                <select class="EnrolmentQSelect" name="progress" ng-model="progress" required>
                                    <option value=""></option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>

                            <div class = "RegistrationQuestions">
                                <div class="form-group" ng-show="progress=='yes'">
                                    <label for="frequency">How frequent?</label>
                                    <input type="text" ng-model="frequency" class="form-control EnrolmentTextInput" id="frequency"></input>
                                </div>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="consideration">Consideration</label>
                                <input type="text" ng-model="consideration" class="form-control EnrolmentTextInput" id="consideration" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="date">Submission Date</label>
                                <input type="date" ng-model="date" class="form-control EnrolmentTextInput" id="date" required></input>
                            </div>

                            <div class = "RegistrationQuestions">
                                <label for="aterm">Academic Term</label>
                                <input type="aterm" ng-model="aterm" class="form-control EnrolmentTextInput" id="aterm" required></input>
                            </div>
                        </div>

                        <br />
                        <!--                         <input type="button" value="Submit" ng-click="submitEnroll()" class="btn btn-default" /> -->

                        <input class="EnrolmentButton mymbutton" type="submit" />

                    </form>
                </widget-row>
            </uib-tab>

            <uib-tab index="3" heading="Update Activities">
                <widget-row>
                    <div class="UpdateActPage">

                        <div class="UpdateActPageContent">
                            <p class="Basictext">Please upload the activity spreadsheet below.</p>
                            <input class="" type="file" id="file" name="file" ng-files="getTheFiles($files)" />
                            <input class="UpdateActButton mymbutton" type="button" ng-click="uploadFiles()" value="Upload" />
                        </div>
                        <!--                         <p>{{data}}</p> -->
                    </div>
                </widget-row>
            </uib-tab>


            <uib-tab index="4" heading="Activities Suggestion">
                <widget-row ng-controller="preferenceCtrl">
                    <!--                     <p>{{input}}</p> -->
                    <div class="ActSuggIntro">
                        <p class="IntroFont">Step1: Please select up to 5 activities you enjoyed in the past from the categories below </p>
                    </div>
                    <div>
                        <uib-accordion class="TotalActivityGroups" close-others="false">

                            <div uib-accordion-group class="ActivityGroups" heading="Team Activities" is-open="true">
                                <div class="wrap" ng-repeat="act in actInfo.value">
                                    <div>
                                        <label for="Act+{{act.Activity}}" ng-show="act.Category =='Team'">
                                            <input type="checkbox" id="Act+{{act.Activity}}" ng-model="act.checked" ng-change="checkedItems(act.Activity,act.checked)" ng-disabled="count ==6 && act.checked != true" ng-show="act.Category =='Team'"></input>{{act.Activity}}</label>
                                    </div>
                                </div>

                            </div>

                            <div uib-accordion-group class="ActivityGroups" heading="Instructional Activities" is-open="true">
                                <div class="wrap" ng-repeat="act in actInfo.value">
                                    <div>
                                        <label for="Act+{{act.Activity}}" ng-show="act.Category =='Instructional'">
                                            <input type="checkbox" id="Act+{{act.Activity}}" ng-model="act.checked" ng-change="checkedItems(act.Activity,act.checked)" ng-disabled="count ==6 && act.checked != true" ng-show="act.Category =='Instructional'"></input>{{act.Activity}}</label>
                                    </div>
                                </div>

                            </div>

                            <div uib-accordion-group class="ActivityGroups" heading="Club Activities" is-open="true">
                                <div class="wrap" ng-repeat="act in actInfo.value">
                                    <div>
                                        <label for="Act+{{act.Activity}}" ng-show="act.Category =='Club'">
                                            <input type="checkbox" id="Act+{{act.Activity}}" ng-model="act.checked" ng-change="checkedItems(act.Activity,act.checked)" ng-disabled="count ==6 && act.checked != true" ng-show="act.Category =='Club'"></input>{{act.Activity}}</label>
                                    </div>
                                </div>

                            </div>

                            <div uib-accordion-group class="ActivityGroups" heading="Casual Activities" is-open="true">
                                <div class="wrap" ng-repeat="act in actInfo.value">
                                    <div>
                                        <label for="Act+{{act.Activity}}" ng-show="act.Category =='Casual'">
                                            <input type="checkbox" id="Act+{{act.Activity}}" ng-model="act.checked" ng-change="checkedItems(act.Activity,act.checked)" ng-disabled="count ==6 && act.checked != true" ng-show="act.Category =='Casual'"></input>{{act.Activity}}</label>
                                    </div>
                                </div>

                            </div>
                        </uib-accordion>
                    </div>
                    <!-- 
                    <p>{{x_val}}</p>
                    <p>{{y_val}}</p>
                    <p>{{z_val}}</p>
 -->
                    <div class="ActSuggIntro">
                        <p class="IntroFont">Step2: Please answer the below questions using the sliders provided.</p>
                    </div>

                    <div>
                        <form action="">

                            <div class="QuestionField">
                                <p class="QuestionTitle">I prefer relaxing "meditative" exercises that do not involve a lot of concentration.</p>
                                <div class="QuestionAnswerArea">
                                    <p class="QuestionLable">Not true for me.</p>
                                    <div class="slidecontainer">
                                        <input type="range" min="0" max="10" value="5" class="slider" id="cog1" ng-model='cog1'></input>
                                    </div>
                                    <p class="QuestionLable">Very true for me.</p>
                                </div>
                            </div>

                            <div class="QuestionField">
                                <p class="QuestionTitle">I prefer activities that involve strategy.</p>
                                <div class="QuestionAnswerArea">
                                    <p class="QuestionLable">Not true for me.</p>
                                    <div class="slidecontainer">
                                        <input type="range" min="0" max="10" value="5" class="slider" id="cog2" ng-model='cog2'></input>
                                    </div>
                                    <p class="QuestionLable">Very true for me.</p>
                                </div>
                            </div>

                            <div class="QuestionField">
                                <p class="QuestionTitle">I prefer exercising on my own.</h4>
                                <div class="QuestionAnswerArea">
                                    <p class="QuestionLable">Not true for me.</p>
                                    <div class="slidecontainer">
                                        <input type="range" min="0" max="10" value="5" class="slider" id="soc1" ng-model='soc1'></input>
                                    </div>
                                    <p class="QuestionLable">Very true for me.</p>
                                </div>
                            </div>

                            <div class="QuestionField">
                                <p class="QuestionTitle">I prefer exercising in an open environment (eg. Public Gym)</p>
                                <div class="QuestionAnswerArea">
                                    <p class="QuestionLable">Not true for me.</p>
                                    <div class="slidecontainer">
                                        <input type="range" min="0" max="10" value="5" class="slider" id="soc2" ng-model='soc2'></input>
                                    </div>
                                    <p class="QuestionLable">Very true for me.</p>
                                </div>
                            </div>

                            <div class="QuestionField">
                                <p class="QuestionTitle">I prefer activities that are physically demanding.</p>
                                <div class="QuestionAnswerArea">
                                    <p class="QuestionLable">Not true for me.</p>
                                    <div class="slidecontainer">
                                        <input type="range" min="0" max="10" value="5" class="slider" id="int1" ng-model='int1'></input>
                                    </div>
                                    <p class="QuestionLable">Very true for me.</p>
                                </div>
                            </div>

                            <div class="QuestionField">
                                <p class="QuestionTitle">I prefer activities that are more relaxing and less intense.</p>
                                <div class="QuestionAnswerArea">
                                    <p class="QuestionLable">Not true for me.</p>
                                    <div class="slidecontainer">
                                        <input type="range" min="0" max="10" value="5" class="slider" id="int2" ng-model='int2'></input>
                                    </div>
                                    <p class="QuestionLable">Very true for me.</p>
                                </div>
                            </div>

                            <input type="button" value="Submit" ng-click="getPred()" class="getSuggestionButton mymbutton" />
                        </form>
                    </div>
                    <!--                     <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="List of Activities:" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <li class="cluster-repeat" ng-repeat="activity in clusters.value">
                                <td>
                                    {{activity.Activity}}
                                </td>
                            </li>
                        </div>
                    </uib-accordion> -->

                </widget-row>
            </uib-tab>

            <uib-tab index="5" heading="General Report">
                <widget-row ng-controller = "generalReportCtrl">
                    <div class="GeneralProfileTermContent">
                        <p class = "selectterm">Term:
                            <select class="GeneralRepTerm" ng-options="term.current_term for term in terms.value" ng-model="term" ng-change= "getTermDisplay(term.current_term)">                                    
                            </select>
                    
                        </p>
                    </div>

                    <div class="GeneralReportContent" ng-show="term != null">

                        <div class = "GeneralRepStudNum">
                            <p>In {{term.current_term}}, there are {{numStudents.value[0].Column1}} students enrolled.</p>
                        </div>

                        <div class="GeneralTermTitle">
                            <p>{{term.current_term}} General Report</p>
                        </div>

                        <div class = "GeneralAvgGoal GeneralRepChart">
                            <p class="chartTitle">Average Goals Data</p>
                            <nvd3 options="pieChartOptions" data="pieChartAvgDataGoal.value"></nvd3>
                        </div>

                        <div class = "GeneralAvgBarrier GeneralRepChart">
                            <p class="chartTitle">Average Barrier Data </p>
                            <nvd3 options="pieChartOptions" data="pieChartAvgDataBarrier.value"></nvd3>
                        </div>

                        <div class = "GeneralAvgMH GeneralRepChart">
                            <p class="chartTitle">Average Mental Health Data</p>
                            <nvd3 options="multiBarChartOptions" data="MHAvgBarData.value"></nvd3> 
                        </div>

                        <div class = "GeneralAvgMotivate GeneralRepChart">
                            <p class="chartTitle">Average Motivation Data</p>
                            <nvd3 options="multiBarChartOptions" data="MotivateAvgBarData.value"></nvd3>
                        </div>

                    </div>

                </widget-row>
            </uib-tab>

        </uib-tabset>
        <!--         </form> -->


    </div>



</script>

<script type="text/ng-template" id="activityShow.html"> 
    <widget-row ng-controller="activityResults">
        <div class="activityResults_Page">
            <div class="activityResults_PageContent">
                <p class="FormHeader">List of suggested activities:</p>
                <li ng-repeat="activity in actResults.value">
                    <td>
                        {{activity.Activity}}
                    </td>
                </li>
            </div>
        </div>
    </widget-row> 
</script> 
<!-- PAGE TEMPLATE EXAMPLE --> 


<script type="text/ng-template" id="survey_distribution.html">
    <widget-row ng-controller="distributeCtrl">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <div class="SurveyDistribution_Page">

            <div class="SurveyDistributionPageTitle">
                <p class="PageTitle">Survey Distribution</p>
            </div>

            <div class="SurveyDistributionForm">
                <form name = "surveyDistribution" ng-submit = "CreateLibraryMessage()">
                    <div class="form-group">
                        <div class="SurveyDistFormQues">
                            <p class="FormHeader">Select Term:
                                <select class="SelectDropDown" ng-options="term.current_term for term in terms.value" ng-model="selectedTermDis" ng-change="getStudent()" required >  
                                <option></option></select>
                            </p>
                        </div>
                        <div class="SurveyDistFormQues">
                            <p class="FormHeader">Select Student:
                                <select class="SelectDropDown" ng-options = "student.student_id + '  ' + student.pname_f + ' ' + student.pname_l for student in student.value" ng-model = "selectedStudent" ng-change="getType()" required ><option></option>
                                </select>
                                <!--                     {{selectedStudent.mailing_id}} -->
                            </p>
                        </div>
                        <div class="SurveyDistFormQues">
                            <p class="FormHeader">Select Survey Type:
                                <select class="SelectDropDown" ng-options="types.type for types in surveytype.value" ng-model="selectedsurvey" required ><option></option>
                                </select>
                                <!--                     {{selectedsurvey.survey_id}} -->
                            </p>  
                        </div>
                        <div class="SurveyDistFormQues">
                            <p class="FormHeader">Enter Message Subject: 
                                <input type="text" ng-model = "mym.subject" class="SurveyDistFormSubject" required />
                                <!--                                 {{mym.subject}} -->
                            </p> 
                        </div>
                        <div class="SurveyDistFormQues">
                            <p class="FormHeader">Customize Message</p>  
                            <p><textarea rows="10" cols="40" name="comment" ng-model = "mym.message" required>Enter text here...</textarea>
                                <!--                 <p ng-bind-html="test | linebreaks"></p> -->
                            </p>
                        </div>

                        <input type="submit" />
<!-- value="Submit" class="subpageSubmitButton mymbutton" ng-click = "CreateLibraryMessage()" -->

                        <!--                 <input type="button" value="Submit" ng-class="{'btn-warning': value3, 'btn-success': value2, 'btn': value1}" ng-click = "CreateLibraryMessage()"/> -->


                    </div>
                </form>
            </div>
        </div>
    </widget-row>
</script>

<script type="text/ng-template" id="survey_creation.html">
    <widget-row ng-controller="qCtrl">
        <div class="InsertSurvey_Page">

            <div class="InsertSurveyPageTitle">
                <p class="PageTitle">Survey Creation</p>
            </div>

            <div class="InsertSurveyPageContent">
                <form name = "surveyinput" ng-submit = "SurveyDistribution()">
                    <div class = "InsertSurveyField">
                        <p class="FormHeader">Survey id</p>
                        <input type="text" ng-model="mym.surveyid" />

                    </div>
                    <div class = "InsertSurveyField">
                        <p class="FormHeader">Term</p>
                        <select class="InsertSurveySelect" ng-options="year as year for year in yeararray" ng-model="selectYear"><option></option></select>
                        <select class="InsertSurveySelect" ng-options="term as term for term in termarray" ng-model="selectTerm"><option></option></select>
                    </div>
                    <div class = "InsertSurveyField">  
                        <p class="FormHeader">Survey Type</p>
                        <select class="InsertSurveySelect" ng-options="surveytype as surveytype for surveytype in surveytypearray" ng-model="selectsurveytype"><option></option></select>
                    </div>
                    <div> 
                        <input type="submit" class="subpageSubmitButton mymbutton" ng-disabled="selectYear == null || selectTerm == null || selectsurveytype == null" />
                    </div>
                </form>
            </div>
        </div>
    </widget-row>
</script>

<script type="text/ng-template" id="survey_export.html">
    <widget-row ng-controller="exportCtrl">
        <div class="SurveyExport_Page">
            <div class="SurveyExportPageTitle">
                <p class="PageTitle">Survey Result Export</p>
            </div>
            <div class="SurveyExportContent">
                <p class="FormHeader">Survey</p>
                <select class="ExportSurveySelect" ng-options="term as term.term for term in SurveyTerms.value" ng-model="SelectSurveyTerm" ng-change="selecteSurveyType()"></select>
                <select class="ExportSurveySelect" ng-options="type as type.type for type in SurveyTypes.value" ng-model="selectSurveyType"></select>
            </div>
            <div>
                <input type="button" value="Submit" ng-click="exportResults()" class="subpageSubmitButton mymbutton"  />
            </div>
        </div>
    </widget-row>
</script>

<!-- PAGE TEMPLATE EXAMPLE --> 
<script type="text/ng-template" id="profileEdit.html"> 
    <widget-row ng-controller = "editCtrl">
        <div class="StudentProfileUpdate_Page">
            <div class="StuProfileUdPageTitle">
                <p class="PageTitle">Update Student Profile</p>
            </div>
            <div class = "StuProfileUdPageContent">
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>First Name: </b><input class="StuProfileUdGenInput" type="text" ng-model ="editStudent.value[0].pname_f" /></p>
                </div>
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>Last Name: </b><input class="StuProfileUdGenInput" type="text"  ng-model = "editStudent.value[0].pname_l"/></p>
                </div>
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>Student ID: </b><input class="StuProfileUdGenInput" type="number" ng-model = "editStudent.value[0].student_id"/></p>
                </div>
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>Email: </b><input class="StuProfileUdGenInput" type="email" ng-model = "editStudent.value[0].p_email"/></p>
                </div>
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>Gender: </b><select class="StuProfileUdSelect" name="gender" ng-model="editStudent.value[0].gender" >
                        <option value=""> </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="N/A">Prefer not to specify</option>
                        </select>
                    </p>
                </div>
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>Program: </b><input class="StuProfileUdGenInput" type="text"  ng-model = "editStudent.value[0].program" /></p>
                </div>
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>Academic Term: </b><input class="StuProfileUdGenInput" type="text"  ng-model ="editStudent.value[0].academic_term"  /></p>
                </div>
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>Workout Buddy: </b>  <input class="StuProfileUdGenInput" type="checkbox" ng-checked="editStudent.value[0].workout_buddy" ng-model = "editStudent.value[0].workout_buddy"/></p>
                </div>
                <div class="StuProfileUpdateField" ng-show="editStudent.value[0].workout_buddy==1">
                    <p class = "Basictext"><b>Workout Buddy Name: </b><input class="StuProfileUdGenInput" type="text" value="{{editStudent.value[0].buddy_name}}" ng-model = "editStudent.value[0].buddy_name"/></p>
                </div>
                <div class="StuProfileUpdateField">
                    <p class = "Basictext"><b>Contact Frequency: </b><input class="StuProfileUdGenInput" type="text" value="{{editStudent.value[0].rfrequent}}" ng-model = "editStudent.value[0].rfrequent" /></p>
                </div>

            </div>
            <div>
                <input  class="subpageSubmitButton mymbutton" type="button" value="Update" ng-click="updateStudent()" />
            </div>
        </div>

    </widget-row>
</script> 
<!-- PAGE TEMPLATE EXAMPLE --> 





















